.member{
    margin-top:5rem;
    
    .member_container {
        h1{
            text-align: center;
        }
    .food_cards{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        .card{
            width: 25rem;
            min-height: 30rem;
            margin: 2rem 4rem;
            .card-img-top{
                height:25rem;
                max-height:20rem;
                overflow:auto;
            }
        }
    }
  }
}